body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #796b7e, #59285e);
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 350px;
    text-align: center;
}

h1 {
    color: #0d0a0a;
}

.input-box {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

input {
    flex: 1;
    padding: 10px;
    border: 2px solid #4b2c4b;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #4d1850;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: #c198b9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8e2e2;
    margin: 8px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

li.completed {
    text-decoration: line-through;
    background: #c2f0c2;
    color: gray;
}

li button {
    background-color: rgb(248, 248, 247);
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.3s;
}

li button:hover {
    background-color: darkred;
}
